<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <h1>Le Blog de la Binouserie</h1>
        </div>
        <div class="row">
            <div class="col-10">
                {% block body %}{% endblock %}
            </div>
            <div class="col-2 border-left border-bottom border-info sidemenu">
                {{ render(controller(
                    'App\\Controller\\PostController::recentArticles', {max: 5}
                )) }}
            </div>
        </div>
    </body>
</html>

<style>
    .header{
        min-height:300px;
        justify-content: center;
        display:flex;
        align-items: center;
        background: #f9b171
    }
    .sidemenu{
        height:100vh;
        position: sticky;
        top:0;
    }
</style>
