{% extends 'base.html.twig' %}

{% block title %}Add Post{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button>Valider</button>
    {{ form_end(form) }}


{% endblock %}