{% extends 'base.html.twig' %}

{% block title %}La Binouserie{% endblock %}

{% block body %}

    <h1>New Articles</h1>
    <a href="{{ path('addPost')}}">Ajouter poste</a>
    {% for post in posts %}
        <a class="row mx-3 pl-4 border" href='{{ path('detail', {post: post.id}) }}'>
            <article>
                <h3>{{ post.getTitle | striptags}}</h3>
                <p>{{ post.getContent | striptags }}...</p>
            </article>
        </a>
    {% endfor %}


<style>
.sidemenu{
    height:100vh;
    position: sticky;
    top:0;
}
</style>

{% endblock %}