{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <article>
                    <h1>{{ post.getTitle | striptags }}</h1>
                    <small>Publié le : {{ post.getCreatedAt | date("m/d/Y \\à g:ia") }} - {{ post.getAuthor }}</small>
                </article>
                </br>
                <div> {{ post.content | raw }}</div>
            </div>








            <span class="col-2 border-left border-bottom border-info sidemenu">
                <span >
                    {% include 'post/sidebar.html.twig' %}
                </span>
            </span>
        </div>
        
    </div>


<style>
.sidemenu{
    height:100vh;
    position: sticky;
    top:0;
}
</style>

{% endblock %}