<h3>Derniers articles</h3>

{% for article in articles %}
    <article>
        <h5>{{ article.title | striptags }}</h5>
        <small>{{ article.content | striptags | slice(0, 50) }}...</small>
    </article>
{% endfor %}

<h3>Top Articles</h3>

